<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>com.sap.hana.cloud.sample.payroll</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>connectivityConfiguration</res-ref-name>
		<res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
	</resource-ref>
	<servlet>
		<servlet-name>RequisitionServlet</servlet-name>
		<servlet-class>com.sap.hcp.ariba.requisitions.services.RequisitionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequisitionServlet</servlet-name>
		<url-pattern>/api/requisition</url-pattern>
	</servlet-mapping>
<!-- 	<login-config>
		<auth-method>FORM</auth-method>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>OData API</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Everyone</role-name>
		</auth-constraint>
	</security-constraint> -->
</web-app>